{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "printWidth": 120,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "proseWrap": "preserve"
}
